<p id="notice"><%= notice %></p>

<p>
  <strong>State:</strong>
  <%= @city.state %>
</p>

<p>
  <strong>Name:</strong>
  <%= @city.name %>
</p>

<p>
  <strong>Obs:</strong>
  <%= @city.obs %>
</p>

<p>
  <strong>Active:</strong>
  <%= @city.active %>
</p>

<%= link_to 'Edit', edit_city_path(@city) %> |
<%= link_to 'Back', cities_path %>
